<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApcOFGhCADPzTCrhQcuF2Y4jS9yJ13Mmg</string>
	<key>GCM_SENDER_ID</key>
	<string>941886953680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catalin.TinderClone</string>
	<key>PROJECT_ID</key>
	<string>tindercloneios-ca933</string>
	<key>STORAGE_BUCKET</key>
	<string>tindercloneios-ca933.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941886953680:ios:0b562152cece3efb6e66d5</string>
</dict>
</plist>